{% load static%}
{% block content%}
<!doctype html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us &mdash; </title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    
	<link href='http://fonts.googleapis.com/css?family=Raleway:200,300,400,500,600,700,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{% static "assets/css/styles-merged.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/style.min.css" %}">
    <link rel="stylesheet" href="{% static "assets/css/custom.css" %}">
    <link rel='stylesheet' href= "{% static 'assets/css/bootstrap.min.css' %}">
	<link rel='stylesheet' href= "{% static 'assets/css/animate.min.css' %}">
	<link rel='stylesheet' href= "{% static "assets/css/font-awesome.min.css" %}">
	<link rel='stylesheet' href= "{% static "assets/css/style.css" %}">

    <!--[if lt IE 9]>
      <script src="{% static "assets/js/vendor/html5shiv.min.js" %}"></script>
      <script src="{% static "assets/js/vendor/respond.min.js" %}"></script>
    <![endif]-->
  </head>
  <body>


<header id="header" class="navbar navbar-inverse navbar-fixed-top" role="banner">
<div class="container">
	<div class="navbar-header">
		<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
		<span class="sr-only">Toggle navigation</span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		<span class="icon-bar"></span>
		</button>
		<!-- Your Logo -->
		<a href="#hero" class="navbar-brand">SANJEEVINI CHARITABLE TRUST <span class="lighter"></span></a>
	</div>
	<!-- Start Navigation -->
	<nav class="collapse navbar-collapse bs-navbar-collapse navbar-right" role="navigation">
	<ul class="nav navbar-nav">
		<li>
		<a href="#hero">Home</a>
		</li>
		<li>
		<a href="#about">About</a>
		</li>
		<li>
		<a href="#gallery">Gallery</a>
		</li>
		<li>
		<a href="#slider">Testimonials</a>
		</li>
		<li>
		<a href="#faq">FAQ</a>
		</li>
		<li>
		<a href="#contactarea">Contact</a>
		</li>
	</ul>
	</nav>
</div>
</header>


      <section class="probootstrap-hero probootstrap-hero-inner" style="background-image: url(img/hero_bg_bw_1.jpg)"  data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="probootstrap-slider-text probootstrap-animate" data-animate-effect="fadeIn">
                <h1 class="probootstrap-heading probootstrap-animate">About <span>Together we can make a difference</span></h1>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="probootstrap-section">
        <div class="container">
          <div class="row mb40">
            <div class="col-md-6 col-md-push-6 probootstrap-animate">
              <p><img src="{% static 'assets/img/img_sq_1.jpg' %}" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></p>
            </div>
            <div class="col-md-5 col-md-pull-6 probootstrap-animate">
              <h2>Our Story</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur sunt excepturi dicta ex, placeat ab esse, iure harum eaque fuga asperiores distinctio amet temporibus enim illum molestiae neque ad similique possimus repellendus velit! Quaerat nihil nemo, aliquam consectetur debitis illum. Excepturi cum, quaerat minus odit dolorem recusandae, debitis reprehenderit voluptate?</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum suscipit placeat amet vel esse soluta dolorum nesciunt dolores, possimus sint.</p>
            </div>
            
          </div>

          <div class="row">
            <div class="col-md-6 probootstrap-animate">
              <p><img src="{% static 'assets/img/img_sq_2.jpg' %}" alt="Free Bootstrap Template by uicookies.com" class="img-responsive"></p>
            </div>
            <div class="col-md-5 col-md-push-1 probootstrap-animate">
              <h2>Our Mission</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur sunt excepturi dicta ex, placeat ab esse, iure harum eaque fuga asperiores distinctio amet temporibus enim illum molestiae neque ad similique possimus repellendus velit! Quaerat nihil nemo, aliquam consectetur debitis illum. Excepturi cum, quaerat minus odit dolorem recusandae, debitis reprehenderit voluptate?</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum suscipit placeat amet vel esse soluta dolorum nesciunt dolores, possimus sint.</p>
            </div>
            
          </div>

        </div>
      </section>

      <section class="probootstrap-section probootstrap-border-top">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center section-heading probootstrap-animate" data-animate-effect="fadeIn">
              <h2>Leadership</h2>
              <p class="lead">Sed a repudiandae impedit voluptate nam Deleniti dignissimos perspiciatis nostrum porro nesciunt</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-6 probootstrap-animate">
              <a href="#" class="probootstrap-team">
                <img src="{% static 'assets/img/person_1.jpg' %}" alt="Free Bootstrap Template by uicookies.com" class="img-responsive">
                <div class="probootstrap-team-info">
                  <h3>Jeremy Slater <span class="position">Partner/CEO</span></h3>
                </div>
              </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 probootstrap-animate">
              <a href="#" class="probootstrap-team">
                <img src="img/person_2.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive">
                <div class="probootstrap-team-info">
                  <h3>James Butterly <span class="position">Partner/CTO</span></h3>
                </div>
              </a>
            </div>
            
            <div class="clearfix visible-sm-block visible-xs-block"></div>

            <div class="col-md-3 col-sm-6 col-xs-6 probootstrap-animate">
              <a href="#" class="probootstrap-team">
                <img src="img/person_3.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive">
                <div class="probootstrap-team-info">
                  <h3>Matthew Smith <span class="position">Organizer</span></h3>
                </div>
              </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-6 probootstrap-animate">
              <a href="#" class="probootstrap-team">
                <img src="img/person_4.jpg" alt="Free Bootstrap Template by uicookies.com" class="img-responsive">
                <div class="probootstrap-team-info">
                  <h3>Ivan Dubovtsev <span class="position">Organizer</span></h3>
                  
                </div>
              </a>
            </div>

            <div class="clearfix visible-sm-block visible-xs-block"></div>
          </div>
        </div>
      </section>

      <section class="probootstrap-half">
        <div class="image">
          <div class="image-bg">
            <img src="img/img_sq_5_big.jpg" alt="Free Bootstrap Template by uicookies.com">
          </div>
        </div>
        <div class="text">
          <div class="probootstrap-animate">
            <h3>Sucess Stories</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur sunt excepturi dicta ex, placeat ab esse, iure harum eaque fuga asperiores distinctio amet temporibus enim illum molestiae neque ad similique possimus repellendus velit! Quaerat nihil nemo, aliquam consectetur debitis illum. Excepturi cum, quaerat minus odit dolorem recusandae, debitis reprehenderit voluptate?</p>
            <p><a href="#" class="btn btn-primary btn-lg">Read More</a></p>
          </div>
        </div>
      </section>

      <footer class="probootstrap-footer probootstrap-bg">
        <div class="container">
          <div class="row">
            <div class="col-md-4 probootstrap-animate">
              <div class="probootstrap-footer-widget">
                <h3>About Us</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro provident suscipit natus a cupiditate ab minus illum quaerat maxime inventore Ea consequatur consectetur hic provident dolor ab aliquam eveniet alias</p>
                <ul class="probootstrap-footer-social">
                  <li><a href="#"><i class="icon-twitter"></i></a></li>
                  <li><a href="#"><i class="icon-facebook"></i></a></li>
                  <li><a href="#"><i class="icon-github"></i></a></li>
                  <li><a href="#"><i class="icon-dribbble"></i></a></li>
                  <li><a href="#"><i class="icon-linkedin"></i></a></li>
                  <li><a href="#"><i class="icon-youtube"></i></a></li>
                </ul>
              </div>
            </div>
           
            <div class="col-md-4 probootstrap-animate">
              <div class="probootstrap-footer-widget">
                <h3>Contact Info</h3>
                <ul class="probootstrap-contact-info">
                  <li><i class="icon-location2"></i> <span>198 West 21th Street, Suite 721 New York NY 10016</span></li>
                  <li><i class="icon-mail"></i><span>info@domain.com</span></li>
                  <li><i class="icon-phone2"></i><span>+123 456 7890</span></li>
                </ul>
                
              </div>
            </div>

            <div class="col-md-4 probootstrap-animate">
              <div class="probootstrap-footer-widget">
                <h3>Donation</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit omnis nam obcaecati placeat. Repellendus omnis in praesentium molestiae rem eligendi.</p>
                <p><a href="#" class="btn btn-primary">Donate Now</a></p>
              </div>
            </div>
           
          </div>
          <!-- END row -->
          
        </div>

        <div class="probootstrap-copyright">
          <div class="container">
            <div class="row">
              <div class="col-md-8 text-left">
                <p>&copy; 2023 <a href="https://uicookies.com/">Copyright &copy; Sanjeevini Charitable Trust 2023</a>. All Rights Reserved.</p>
              </div>
              <div class="col-md-4 probootstrap-back-to-top">
                <p><a href="#" class="js-backtotop">Back to top <i class="icon-arrow-long-up"></i></a></p>
              </div>
            </div>
          </div>
        </div>
      </footer>

    <script src="{% static 'assets/js/scripts.min.js' %}"></script>
    <script src="{% static 'assets/js/main.min.js' %}"></script>
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.scrollTo.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.localScroll.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/validate.js' %}"></script>
    <script src="{% static 'assets/js/common.js' %}"></script>
  </body>
</html>



{% endblock%}