.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap:1rem;
}
.test {
    display: flex;
    justify-content: space-between;
    padding: 3rem 5rem;
}
.main-txt, p-txt  {
    margin: 0 500px;
}

.p-txt {
    padding: 0 450px;}